@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");

section{

}


.navbar{
	font-family: "Roboto Condensed", Sans-serif;
	font-weight: 500;
	background: #6059f6;
}
.navbar-brand{
	color: white !important;
}

.nav-link{
	margin-right: 20px;
	margin-bottom: 5px;
	color: white;
}

.enjoy-now{
	font-family: "Roboto Condensed", Sans-serif;
	text-align: center;
	background: #6059f6;
	color: white !important;
	border-radius: 50px;
	padding: 8px;
	padding-left: 15px !important;
	padding-right: 15px !important;
	border: 1px solid white;
}

.enjoy-now:hover{
	background: #3832b1;
	color: white;
	text-decoration: none;
}


/*=========================*/


.headup img{
	width: 100%;
	margin-left: 10px;
}

.headup h1{
	font-size: 35px;
	text-transform: uppercase;
	font-family: "Roboto Condensed", Sans-serif;
	font-weight: 400;
	padding-top: 30px;
	color: #6059f6;
}

.headup p{
	color: #888888;
}

/*=========================*/

.trends .title hr,
.allsearch hr{
	border: 1px solid #6059f6;
}

.trends .row3{
	background-image: url(http://localhost/Uprising/assets/images/banner.png);
	font-family: "Roboto Condensed", Sans-serif;
	border-radius: 50px;
}

.trends .title h5{
	border: 1px solid white;
	padding: 5px;
	text-align: center;
	width: 100px;
	margin-left: 50px;
	margin-top: -37px;
	background: white;
	color: #6059f6;
}

.coldcard{
	padding: 10px;
	color: #202020;
	font-family: 'Montserrat', sans-serif;
}
.coldcard .card{
	position: relative;
	background: transparent;
	border: 3px solid #6059f6;
	box-shadow: 0px 0px 15px 0px rgba(52, 69, 199, 0.4);
}
.imgtrack{
	height: 150px;
}
.coldcard b{
	font-size: 13px;
}
.coldcard p{
	font-size: 11px;
}

.coldcard .card span .fa-play:hover{
	cursor: pointer;
	color: #6059f6;
}

.iCon{
	cursor: pointer;
	border: 1px solid;
	padding: 5px;
	font-size: 20px;
}

.carded{
	border: 2px solid #6059f6;
	padding: 10px;
	padding-bottom: 5px;
	margin-bottom: 20px;
	font-weight: 500;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 30px;
	padding-left: 40px;
	box-shadow: 0px 0px 15px 0px rgba(52, 69, 199, 0.4);
	color: #6059f6;
}

.carded:hover{
    background-image: linear-gradient( 90deg, rgb(96, 89, 246) 0%, rgb(230, 30, 182) 100%);
	color: white;
}

.carded i:hover{
	cursor: pointer;
}

.carded p{
	margin-bottom: 0px;
}

.carded img{
	width: 28px;
}

.allsearch input{
	position: relative;
	top: -37px;
	padding: 8px;
	padding-left: 13px;
	width: 80%;
	border: 2px solid #6059f6;
	border-radius: 50px;
	outline: none;
}

.allsearch .card b{
	font-size: 15px;
}
.allsearch .card p{
	font-size: 13px;
}
.allsearch .card{
	background: none;
}
.allsearch .card .imgtrack{
	height: 300px;
}

footer{
	background-image: url(http://localhost/Uprising/assets/images/banner.png);
	color: white;
	font-family: "Roboto Condensed", Sans-serif;
	padding: 10px;
    padding-top: 30px;
}
.socmed a{
    color: white;
    margin: 4px;
}

.socmed .fab:hover{
    color: #eeeeee;
}


@media( min-width: 992px )
{
	section{
		margin-top: 50px;
	}
	.navbar{
		background: none;
	}
	.navbar-brand{
		color: #6059f6 !important;
	}

	.nav-link{
		margin-right: 20px;
		border-radius: none;
		border: none;
		color: #6059f6;
	}
	.headup img{
		width: 775px;
		margin-left: 10px;
	}
	.headup h1{
		padding-top: 50px;
	}
	.enjoy-now{
	}
	.allsearch input{
		width: 600px;
	}
	.allsearch .card .imgtrack{
		height: 150px;
	}

}